@import '../../../assets/scss/shared';

.container {
    width: 250px;
    height: 100%;
    overflow: hidden;
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
            padding: 8px 7px;
        }
        .bottom {
            width: 100vw;
        }

        background-color: $bg-color;
        border-top: solid 2px $border-color;
        border-bottom: solid 2px $border-color;

        h3 {
            color: $title-color;
        }
        .toolbar {
            display: flex;
    
            .fas {
                font-size: 16px;
                color: $elements-color;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
}